<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--<bean id="cueParser" class="net.ins.arachnid.engine.impl.CueSheetParser"/>-->
       <!--<bean class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean" id="mediaParserFactory">-->
              <!--<property name="serviceLocatorInterface" value="net.ins.arachnid.engine.MediaFileParserFactory" />-->
       <!--</bean>-->

       <util:map id="parsers">
              <entry key="cue" value-ref="cueParser"/>
              <entry key="mp3" value-ref="mp3Parser"/>
       </util:map>

       <!--<alias name="mp3Parser" alias="mp3" />-->
       <!--<alias name="cueParser" alias="cue" />-->
       <!--<alias name="default" alias="*" />-->

</beans>