<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

       <!--<mvc:annotation-driven />-->

       <import resource="repository.xml" />
       <context:component-scan base-package="net.ins.arachnid" />

       <util:map id="parsers">
              <entry key="cue" value-ref="cueParser"/>
              <entry key="mp3" value-ref="mp3Parser"/>
       </util:map>



       <!--<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean" >-->
              <!--&lt;!&ndash;<property name="defaultContentType" value="#{T(org.springframework.http.MediaType.APPLICATION_JSON)}" />&ndash;&gt;-->
              <!--<property name="defaultContentType" value="application/json" />-->
              <!--<property name="useJaf" value="true" />-->
              <!--<property name="ignoreAcceptHeader" value="true" />-->
              <!--<property name="mediaTypes">-->
                     <!--<map>-->
                            <!--<entry key="track" value="application/octet-stream" />-->
                     <!--</map>-->
              <!--</property>-->
              <!-- -->
       <!--</bean>-->
</beans>